<launch>
<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

<arg name="first_tb3" default="leader"/>
<arg name="second_tb3" default="follower1"/>
<arg name="third_tb3" default="follower2"/>

<arg name="first_tb3_x_pos" default="-0.0"/>
<arg name="first_tb3_y_pos" default="-0.0"/>
<arg name="first_tb3_z_pos" default=" 0.0"/>
<arg name="first_tb3_yaw"   default=" 0.0"/>

<arg name="second_tb3_x_pos" default=" -0.2"/>
<arg name="second_tb3_y_pos" default="-0.2"/>
<arg name="second_tb3_z_pos" default=" 0.0"/>
<arg name="second_tb3_yaw"   default=" 0.0"/>

<arg name="third_tb3_x_pos" default=" -0.2"/>
<arg name="third_tb3_y_pos" default=" 0.2"/>
<arg name="third_tb3_z_pos" default=" 0.0"/>
<arg name="third_tb3_yaw"   default=" 0.0"/>



<group ns = "$(arg first_tb3)">
  <param name="model" value="$(arg model)"/>
  <arg name="multi_robot_name" value="leader"/>
  <node pkg="president" type="tb_leader" name="tb_leader"  output="screen" args=" -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) ">
  </node>
</group>

<group ns = "$(arg second_tb3)">
  <param name="model" value="$(arg model)"/>
  <arg name="multi_robot_name" value="follower1"/>
  <node pkg="president" type="tb_follower1" name="tb_follower1"  output="screen" args=" -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw) ">
  </node>
</group>

<group ns = "$(arg third_tb3)">
  <param name="model" value="$(arg model)"/>
  <arg name="multi_robot_name" value="follower2"/>
  <node pkg="president" type="tb_follower2" name="tb_follower2"  output="screen" args=" -x $(arg third_tb3_x_pos) -y $(arg third_tb3_y_pos) -z $(arg third_tb3_z_pos) -Y $(arg third_tb3_yaw) ">
  </node>
</group>

</launch>
